<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">


    <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="org.h2.Driver"/>
        <property name="url" value="jdbc:h2:~/blogdb"/>
        <property name="username" value="igor"/>
        <property name="password" value="123"/>
    </bean>

    <bean id="blogDAO" class="com.nesterione.BlogDAOFake">
        <property name="dataSource" ref="dataSource"/>
    </bean>

    <bean id="post" class="com.nesterione.Post">
        <property name="title" value="sdff"/>
    </bean>

</beans>